* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(237, 242, 248);
  line-height: 1.7;
}

img {
  border-radius: 50%;
}

.card {
  padding: 1.2rem;
  border-radius: 25px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card__header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.card__header p {
  opacity: 50%;
}
.card__quote {
  opacity: 70%;
}

.card__lead {
  font-weight: 500;
}

.card--bg-purple {
  background-color: rgb(115, 63, 200);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% 0%;
  color: white;
}

.card--bg-grey {
  background-color: rgb(73, 85, 107);
  color: white;
}

.card--bg-light {
  background-color: rgb(255, 255, 255);
}

.card--bg-dark {
  background-color: rgb(24, 32, 45);
  color: white;
}

.testimonials {
  max-width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card:nth-of-type(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.card:nth-of-type(1) img {
  border: 2px solid #996ed9;
}

.card:nth-of-type(2) {
  grid-row: 1 / 2;
}

.card:nth-of-type(3) {
  grid-row: 1 / 3;
}

.card:nth-of-type(5) {
  grid-column: 2 / 4;
}

.card:nth-of-type(5) img {
  border: 2px solid #996ed9;
}

.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .testimonials {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .card:nth-of-type(1) {
    grid-column: 1;
  }

  .card:nth-of-type(2) {
    grid-row: 2;
  }

  .card:nth-of-type(3) {
    grid-row: 3;
  }

  .card:nth-of-type(5) {
    grid-column: 1;
  }
}
